<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Music Mentor</title>
	<meta name="description" content="Music Mentor - Web Application">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/images/musicmentoricon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="title">
	<p>About Music Mentor</p>
</div>
<div id="intro">
	<center>//</center>
	<p>//</p>
</div>
</body>
</html>