<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Music Mentor</title>
	<meta name="description" content="Music Mentor - Web Application">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/images/musicmentoricon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91431994-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="title">
	<p>About Music Mentor</p>
</div>
<div id="icon">
	<img src="../static/images/musicmentoricon.png" alt="Music Mentor icon" style="width:250px; height: 250px;"></img>
</div>
<div id="intro">
	<center>The team</center>
	<p></p>
	<center>Inspiration</center>
	<p></p>
	<center>Next steps</center>
	<p></p>
</div>
</body>
</html>