<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Music Mentor</title>
	<meta name="description" content="Music Mentor - Web Application">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/images/musicmentoricon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91431994-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="about">
	<div id="title">
		<p>About Music Mentor</p>
	</div>
</div>
<div id="body2">
	<div id="text">
	<center id = "inverse">Who we are</center>
	<p>This is a personal project created by Anthony, a computer science major who enjoys playing piano and music. I want to help others, with an interest in learning how to play an instrument or in music in general, to learn music theory with this free online resource. This project was also a way for me to combine my passions for computer science and music, which was very rewarding for me!</p>
	</div>
</div>
<div id="aboutbody">
	<center>Inspiration</center>
	<div id="text">
	<p>It all started when I wanted to learn to play the piano and started self-teaching myself music theory. It wasn't easy but I managed to learn the basics. Then, I took a music theory course at my university and that really solidified my understanding of music theory.<br>I want to share some of the important concepts with interested learners. At the same time, I created useful functions that I think will not only aid new students in their musical learning, but also be handy tools for any musician. The content is formatted in an easy-to-read and crash-course style.</p>
	</div>
</div>
<div id="aboutbody2">
	<center>Next steps</center>
	<div id="text">
	<p>With the project now in production stage, I hope interested users will find this as a useful fun tool for learning music theory. I'm open to any feedback, suggestions or constructive criticism, regarding my project because my end goal is to improve this project for you, the users! Feel free to contact me via our Facebook page.</p>
	</div>
</div>
</body>
</html>