<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Build Interval</title>
	<meta name="description" content="Music Mentor - Web Application">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/images/musicmentoricon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91431994-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="title">
	<p>Intervals in Music</p>
</div>
<div id="intro">
	<center>What are intervals?</center>
	<p>//</p>
</div>
<div>
<form action="{{ url_for('buildinterval') }}" method="post">
	<fieldset>
		<legend>Build an interval</legend>
		Enter the root note: <input type="text" name="note"><br>
		<tab1><small>Hint: notes should be capitalized, and can have sharps(#) or flats(b)</small><br>
		Enter the quality: <input type="text" name="quality"><br>
		<tab1><small>Hint: qualities include diminished(d), minor(m), Major(M), Perfect(P), Augmented(A)</small><br>
		Enter the distance: <input type="text" name="distance"><br>
		<tab1><small>Hint: distances can be any integer from 1 to 8</small><br>
		<p><input type="submit" value="Submit">
		<a href="{{ url_for('index') }}"><button type="button" id="back">Back</button></a></p>
	</fieldset>
</form>
</div>
{% if result %}
<div id="result">
<table border = 1>
	<th>Output</th>
	<td>{{ result }}</td>
</table>
</div>
{% endif %}

</body>
</html>