<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Convert Scales</title>
	<meta name="description" content="Music Mentor - Web Application">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/images/musicmentoricon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91431994-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<div id="title">
	<p>Scale Conversions in Music</p>
</div>
<div id="intro">
	<center>Let's convert 'em scales</center>
	<p>Check out our easy-to-use tool below! Or if you're still wondering WHY and/or HOW in the world you would convert scales, check out our quick tutorial below. Happy music learning!</p>
</div>
<div>
<form id="form" action="{{ url_for('convertscale') }}" method="post">
	<fieldset>
		<legend>Convert scales</legend>
		Select a scale conversion: <select name="convert">
		<option value="major2minor">Major to Minor</option>
		<option value="minor2major">Minor to Major</option>
		<option value="pentmajor2minor">Pentatonic Major to Pentatonic Minor</option>
		<option value="pentminor2major">Pentatonic Minor to Pentatonic Major</option>
		</select><br>
		<p>Enter the scale to convert: <input type="text" name="scale"><br>
		<tab1><small>Hint: notes should be capitalized</small></p>
		<p><input type="submit" value="Submit">
		<a href="{{ url_for('index') }}"><button type="button" id="back">Back</button></a></p>
	</fieldset>
</form>
</div>
{% if result %}
<div id="resultconvert">
<table class= "table">
<tr>
	<th>Output</th>
</tr>
<tr>
	<td>{{ result }}</td>
</tr>
</table>
</div>
{% endif %}
<div id="intro">
	<center>What are scale conversions?</center>
	<p>Scale conversions are ways to change between major and minor scales that relate to one another. Using scales that are related are common in many musical pieces because related scales are compatible and sound good together. Scales are related to each other in two ways: sharing the same key signature or the same tonic note. Often you will see composers writing separate sections of music using these related keys.</p>
	<hr>
	<center>What a key?</center>
	<p>A key is the central part of any piece of music. For instance, it tells you the number of sharps(#) and flats(b) used, the scale that the piece is based on.</p>
	<hr>
	<center>Relative Keys</center>
	<p>Relative keys are major and minor scales that have the same key signature. One example is the C Major Scale and the A Minor Scale. Both scales have no sharps(#) or flats(b) in their key signatures.</p>
	<div id="image">
	<img src="../static/images/C%20Major.png" alt="C Major" style="height: 240px;
	width: 300px;"></img>
	</div>
	<div id="image">
	<img src="../static/images/A%20minor%20scale.png" alt="A Minor" style="height: 240px;
	width: 300px;"></img>
	</div>
	<p>To convert between them, you need to know which major and minor scales have the same key signature. One way to figure this out is to use the Circle of Fifths, which is a diagram that conveniently displays the relationship between all the major and minor scales.</p>
	<div id="image">
	<img src="../static/images/circle%20of%20fifths.png" alt="Circle of Fifths" style="height: 300px;
	width: 300px;"></img>
	</div>
	<hr>
	<center>Parallel Keys</center>
	<p>Parallel keys are easier to determine because they are major and minor scales with the same tonic note. The tonic note of a scale is the note the scale is named after. For example, the C Major Scale and the C Minor Scale are parallel keys, because both have the same tonic note.</p>
	<div id="image">
	<img src="../static/images/C%20Major.png" alt="C Major" style="height: 240px;
	width: 300px;"></img>
	</div>
	<div id="image">
	<img src="../static/images/C%20minor%20scale.png" alt="C Minor" style="height: 240px;
	width: 300px;"></img>
	</div>
</div>
<hr>
<div class="endbar">
	<p>&copy 2017 Music Mentor. All rights reserved. | <a href="{{ url_for('aboutpage') }}">About</a> | <a href="{{ url_for('termsofservice') }}" target="_blank">Terms of Service</a> | <a href="{{ url_for('privacypolicy') }}" target="_blank">Privacy Policy</a></p>
</div>
</body>
</html>