<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Convert Scales</title>
	<meta name="description" content="Music Mentor - Web Application">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/images/musicmentoricon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91431994-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<div id="title">
	<p>Scale Conversions in Music</p>
</div>
<div id="intro">
	<center>What are scale conversions?</center>
	<p>//</p>
</div>
<div>
<form action="{{ url_for('convertscale') }}" method="post">
	<fieldset>
		<legend>Convert scales</legend>
		Select a scale conversion: <select name="convert">
		<option value="major2minor">Major to Minor</option>
		<option value="minor2major">Minor to Major</option>
		<option value="pentmajor2minor">Pentatonic Major to Pentatonic Minor</option>
		<option value="pentminor2major">Pentatonic Minor to Pentatonic Major</option>
		</select><br>
		<p>Enter the scale to convert: <input type="text" name="scale"><br>
		<tab1><small>Hint: notes should be capitalized</small></p>
		<p><input type="submit" value="Submit">
		<a href="{{ url_for('index') }}"><button type="button" id="back">Back</button></a></p>
	</fieldset>
</form>
</div>
{% if result %}
<div id="result">
<table border = 1>
	<th>Output</th>
	<td>{{ result }}</td>
</table>
</div>
{% endif %}
</body>
</html>