<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Identify Scale</title>
	<meta name="description" content="Music Mentor - Web Application">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/images/musicmentoricon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91431994-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<div id="title">
	<p>Scales in Music</p>
</div>
<div id="intro">
	<center>Identify a scale</center>
	<p>Check out our easy-to-use tool below! Or if you're not sure what scales are, check out our quick tutorial below. Happy music learning!</p>
</div>
<div>
<form id="form" action="{{ url_for('identifyscale') }}" method="post">
	<fieldset>
		<legend>Find a scale</legend>
		Select a scale: <select name="scale">
		<option value="Major">Major</option>
		<option value="Natural Minor">Natural Minor</option>
		<option value="Harmonic Minor">Harmonic Minor</option>
		<option value="Melodic Minor">Melodic Minor</option>
		<option value="Pentatonic Major">Pentatonic Major</option>
		<option value="Pentatonic Minor">Pentatonic Minor</option>
		</select><br>
		<p>Enter the root note: <input type="text" name="root"><br>
		<tab1><small>Hint: notes should be capitalized, and can have sharps(#)</small></p>
		<p><input type="submit" value="Submit">
		<a href="{{ url_for('index') }}"><button type="button" id="back">Back</button></a></p>
	</fieldset>
</form>
</div>
{% if result %}
<div id="result">
<table class= "table">
<tr>
	<th>Output</th>
</tr>
<tr>
	<td>The {{ root }} {{ scale }} scale is:<br>{{ result }}</td>
</tr>
</table>
</div>
{% endif %}
<div id="intro">
	<center>What are scales?</center>
	<p>The best way to think of a scale is a group of different notes. Each group, depending on the scale, may contain five notes as for pentatonic scales, or seven notes as in heptatonic scales.Major and minor scales are examples of heptatonic scales.</p>
	<p>To visualize, here's a piano keyboard below displaying a C Major Scale:</p>
	<div id="image">
	<img src="../static/images/C%20Major.png" alt="C Major" style="height: 240px;
	width: 300px;"></img>
	</div>
	<p>Note The C major scale has seven different notes, but the first note and last note of the scale are both C. That's an octave. The end notes, in this case the two C notes, of an octave are always twice or half the frequency of vibration of the other. In general, notes towards the left on a piano or keyboard are of lower frequency than notes towards the right.</p>
	<p>Now let's visualize a different scale. Here's a piano keyboard below displaying a C Minor Scale:</p>
	<div id="image">
	<img src="../static/images/C%20minor%20scale.png" alt="C Minor" style="height: 240px;
	width: 300px;"></img>
	</div>
	<p>Note how the first note and last note of the scale are also C notes, but the notes in between are not like the notes in the C Major Scale. That's because minor scales follow a different grouping of notes than major scales. One big effect of this difference in grouping is that the mood of the music dramatically changes. Music based on major scales tend to sound more happy while music based on minor scales tend to sound serious or sad.</p>
	<hr>
	<center>Constructing Major and Minor Scales</center>
	<p>The distance between any two adjacent notes is one half step. A whole step is two half steps. For example, the distance between C to C# is a half step, while C to D is a whole step.</p>
	<p>A major scale follows a pattern of whole and half steps as follows:</p>
	<p>W W H W W W H</p>
	<p>If you think back to the C Major Scale, you can now see that C D E F G A B C follows the pattern of whole and half steps as shown above.</p>
	<p>A minor scale, on the other hand, follows a pattern of whole and half steps as follows:</p>
	<p>W H W W H W W</p>
	<p>Similiarly, you can observe the same for the C Minor Scale, C D Eb F G Ab Bb C.</p>
	<hr>
	<center>Enter the Harmonic and Melodic Minor Scales</center>
	<p>Minor scales actually consists of three forms. The one you just learned was the natural minor scale. The other two types are the melodic minor scale and the harmonic minor scale.</p>
	<p>To get the Harmonic Minor Scale, take the Natural Minor Scale and raise the scale degree 7 (or the 7th note of the scale) by a half step.</p>
	<p>Using the C Minor Scale, if we raise the scale degree 7 by a half step, we get C D Eb F G Ab B C. Note how the Bb now is a B.</p>
	<p>The Melodic Minor Scale is a little more tricky. We raise both the scale degrees 6 and 7 by a half step in the ascending direction. And then, we lower the scale degrees 7 and 6 by a half step in the descending direction.
	<p>To illustrate, the C Melodic Minor Scale would be C D Eb F G A B C in the ascending direction (note that Ab and Bb now are A and B). In the descending direction, the scale would be C Bb Ab G F Eb D C (the Ab and Bb that were raised by a half step are now lowered by a half step). To put it all together, the C Melodic Minor Scale is C D Eb F G A B C Bb Ab G F Eb D C. Note that the C note in the middle is an octave above the C note at the either end.</p>
	<hr>
	<center>And finally, Pentatonic</center>
	<p>Pentatonic scales are a group of five different notes.</p>
	<p>For example, the C Pentatonic Major Scale would be C D E G A C. Again, the scales ends back at the same note an octave apart. To construct, we remove the scale degrees 4 and 7 from the Major Scale. Notice that the scale degrees 4 and 7 of the C Major Scale is F and B respectively, and they are absent from the C Pentatonic Major scale.</p>
	<p>Now to visualize. Here's a piano keyboard below displaying a C Pentatonic Major Scale:</p>
	<div id="image">
	<img src="../static/images/C%20Major%20Pentatonic.png" alt="C Pentatonic Major" style="height: 240px;
	width: 300px;"></img>
	</div>
	<p>Now Pentatonic Minor Scales follow a similar logic but we remove the scale degrees 2 and 6 from the Minor Scale.</p>
</div>
<hr>
<div class="endbar">
	<p>&copy 2017 Music Mentor. All rights reserved. | <a href="{{ url_for('aboutpage') }}" target="_blank">About</a> | <a href="{{ url_for('termsofservice') }}" target="_blank">Terms of Service</a> | <a href="{{ url_for('privacypolicy') }}" target="_blank">Privacy Policy</a></p>
</div>
</body>
</html>
