<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Identify Scale</title>
	<meta name="description" content="Music Mentor - Web Application">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/images/musicmentoricon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91431994-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<div id="title">
	<p>Scales in Music</p>
</div>
<div id="intro">
	<center>What are scales?</center>
	<p>//</p>
</div>
<div>
<form action="{{ url_for('identifyscale') }}" method="post">
	<fieldset>
		<legend>Find a scale</legend>
		Select a scale: <select name="scale">
		<option value="Major">Major</option>
		<option value="Natural Minor">Natural Minor</option>
		<option value="Harmonic Minor">Harmonic Minor</option>
		<option value="Melodic Minor">Melodic Minor</option>
		<option value="Pentatonic Major">Pentatonic Major</option>
		<option value="Pentatonic Minor">Pentatonic Minor</option>
		</select><br>
		Enter the root note: <input type="text" name="root"><br>
		<tab1><small>Hint: notes should be capitalized, and can have sharps(#)</small><br>
		<p><input type="submit" value="Submit">
		<a href="{{ url_for('index') }}"><button type="button" id="back">Back</button></a></p>
	</fieldset>
</form>
</div>
{% if result %}
<div id="result">
<table border = 1>
	<th>Output</th>
	<td>The {{ root }} {{ scale }} scale is:<br>{{ result }}</td>
</table>
</div>
{% endif %}
</body>
</html>
