<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Privacy Policy</title>
	<meta name="description" content="Music Mentor - Web Application">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/images/musicmentoricon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91431994-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<h2 style="text-align: center;">Music Mentor Privacy Policy</h2>
<p style="text-align: center;"><small>Last updated: 2/4/17</small></p>
<div id="privacy">
<p>
Thanks for using Music Mentor! Music Mentor (“us”, “we”, or “our”) operates https://musicmentorapp.herokuapp.com (“Site”) and the companion Facebook Messenger chat bot Music Mentor Bot at https://m.me/musicmentorbot (“ChatBot”).
</p><p>
This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site and/or ChatBot.
</p><p>
If you choose to use our Site and/or ChatBot, then you agree to the collection and use of information in relation with this policy. The personal information that we collect are used for providing and improving the Site and/or ChatBot. We will not use or share your information with anyone except as described in this Privacy Policy.
</p><p>
<strong>User Provided Information</strong>
</p><p>
The Site obtains no personally identifiable information from users.
</p><p>
The ChatBot will have access to certain personally identifiable information on Facebook, including, but not limited to, your name, your public Facebook profile, and your chat history with the bot. 
</p><p>
We may use information that we collect will to contact you from time to time with important information, required notices, or marketing promotions.
</p><p>
<strong>Automatically Collected Information</strong>
</p><p>
The Site may collect certain information automatically, including, but not limited to, the type of device you use, your device’s unique device ID, the IP address of your device, your operating system, the type of Internet browsers you use, and information about the way you use the Site.
</p><p>
<strong>Log Data</strong>
</p><p>
We want to inform you that whenever you visit our Site, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser version, pages of our Site that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
</p><p>
<strong>Cookies</strong>
</p><p>
Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer’s hard drive.
</p><p>
Our website uses these “cookies” to collection information and to improve our Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer.
</p><p>
<strong>Service Providers</strong>
</p><p>
We will not share your information with third parties other than in the ways that are described in this privacy statement. However, third party services may collect their own information as detailed in their privacy policies.
</p><p>
We may disclosed User Provided and Automatically Collected Information:
</p><p>
<ul>
<li><p>to facilitate our Site and/or ChatBot;</p></li>
<li><p>to provide the Site and/or ChatBot on our behalf;</p></li>
<li><p>to perform Site and/or ChatBot-related services; or</p></li>
<li><p>to assist us in analyzing how our Site and/or ChatBot is used.</p></li>
</ul>
</p><p>
We want to inform our Site and/or ChatBot users that these third parties have access to your personal information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
</p><p>
<strong>Security</strong>
</p><p>
We value your trust in providing us your information, and thus we provide physical, electronic, and procedural means of protecting information we process and maintain. Please be aware that, while we aim to provide reasonable security for the information we process and maintain, no method of transmission over the internet or method of electronic storage is 100% secure and reliable, and thus we cannot guarantee its absolute security.
</p><p>
<strong>Children’s Privacy</strong>
</p><p>
We do not use the Site and/or ChatBot to knowingly solicit data from or market to children under the age of 13. In the case we discover that a child under 13 has provided us with personal information, we will delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.
</p><p>
<strong>Changes to This Privacy Policy</strong>
</p><p>
We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.
</p><p>
<strong>Contact Us</strong>
</p><p>
If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at our Facebook page: https://fb.me/musicmentorbot.
</p>
</div>
</body>
</html>