<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Terms of Service</title>
	<meta name="description" content="Music Mentor - Web Application">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/images/musicmentoricon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91431994-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<h2 style="text-align: center;">Music Mentor Terms of Service</h2>
<p style="text-align: center;"><small>Last updated: 2/5/17</small></p>
<div id="privacy">
<p>
Thanks for using Music Mentor! Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the https://musicmentorapp.herokuapp.com website (“Site”) and the companion Facebook Messenger chat bot Music Mentor Bot at https://m.me/musicmentorbot (“ChatBot”) operated by Music Mentor ("us", "we", or "our").
</p><p>
Your access to and use of the Site and/or ChatBot is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Site and/or ChatBot.
</p><p>
By accessing or using the Site and/or ChatBot you agree to be bound by these Terms. If you disagree with any part of the terms then you are prohibited from using or accessing the Site and/or ChatBot.
</p><p>
<strong>Use License</strong>
</p><p>
The Site and ChatBot are distributed under the MIT License:
</p><p>
Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions: 
</p><p>
The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
</p><p>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
</p><p>
<strong>Content</strong>
</p><p>
Music Mentor does not warrant that any of the materials on its Site and/or ChatBot are accurate, complete, or current. We may make changes to the materials contained on our Site and/or ChatBot at any time without notice.
</p><p>
<strong>Links to Other Web Sites</strong>
</p><p>
Music Mentor may contain links to third-party websites or services that are not owned by Music Mentor. We have not reviewed all of the sites linked to its Internet web application and/or chat bot, and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Music Mentor of the site. Use of any such linked web site is at the user's own risk.
</p><p>
<strong>Site Terms of Use Modifications</strong>
</p><p>
We reserve the right to modify or replace these Terms at any time without notice. By using this Site and/or ChatBot you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
</p><p>
<strong>Contact Us</strong>
</p><p>
If you have any questions about these Terms, please contact us at our Facebook page: https://fb.me/musicmentorbot.
</p>
</div>
</body>
</html>